.header{
    height: 34vw;
    margin: 30px auto;
    background:url('../../assets/header_img.png') no-repeat ;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw,2.2rem);
    color: #000000;
    text-shadow: 
    0.7px 0.7px 0 #fff,
    -0.7px 0.7px 0 #fff,
    -0.7px -0.7px 0 #fff,
    0.7px -0.7px 0 #fff
    
    ;

}

.header-contents p{
    color: var(--theme-color);
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

